/* Hoja de estilos para el form de Pasajes a la costa de RG */
.ui-controlgroup .ui-controlgroup-horizontal .ui-helper-clearfix {
    gap: 5px;
}
.ui-controlgroup .ui-controlgroup-item {
    border-width: 2px !important;
    border-radius: 10px !important;
    background-color: white !important;
    color: #10004f !important;
    font-size: 20px !important;
    font-weight: 400 !important;

}

.ui-controlgroup .ui-controlgroup-item:hover {
    border-color: orange !important;
}

.ui-checkboxradio-icon .ui-corner-all .ui-icon .ui-icon-background .ui-icon-blank {
    accent-color: orange !important;
}


input {
    border-radius: 5px !important;
    font-size: 20px !important;
    border-width: thin !important;
    height: 37px !important;
    border-color: gray !important;

}

input::placeholder {
    font-size: 20px !important;
    color: gray !important;
    font-weight: 300 !important;
}

label {
    font-size: large !important;
}

input[type='checkbox'], [type='radio'] {
    accent-color: orange !important;
    width: 20px !important;
    height: 20px !important;
}

.selectbox .display {
    border-radius: 5px !important;
    font-size: 20px !important;
    padding: 5px 10px !important;
}

.selectbox .display .arrow_btn{
    height: 37px !important;
    width: 35px !important;
    background-image: none;
    background-color: transparent;
    border: none;
}

.selectbox .display .arrow_btn span {
    left: 17.5px !important;
    top: 17.5px !important;
}

li{
    font-size: 20px !important;
}
li:hover li:active{
    background-color: sandybrown !important;
    border: none !important;
}

